<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <td>filmId: </td>
        <td th:text="${film.filmId}">1 </td>
    </tr>
    <tr>
        <td>name: </td>
        <td th:text="${film.name}">AAAAAAAAAAAAAAA </td>
    </tr>
    <tr>
        <td>year: </td>
        <td th:text="${film.year}">1 </td>
    </tr>
    <tr>
        <td>sourceLink: </td>
        <td th:text="${film.sourceLink}">AAAAAAAAAAAAAAAAAAAAAAAAAAAAASS </td>
    </tr>
    <tr>
        <td>mediaLink: </td>
        <td th:text="${film.mediaLink}">AAAAAAAAAAAAAAWEQEWEQEQWE </td>
    </tr>
</table>

</body>
</html>